.parent-container {
  display: flex;
  justify-content: space-around;
}

.mt-5 {
  margin-top: 5%;
}

.col {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.row {
  flex-direction: column;
}

.icon {
  font-size: 42px;
}

.image-profile {
  pointer-events: none;
  max-height: 40vh;
  max-width: 40vh;
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* max-width: 60%; */
}

.what-i-do-caption {
  text-align: left;
  font-size: 24px;
  font-family: 'OpenSans-Regular';
  max-width: 100%;
}

.caption-container {
  margin-top: 16px;
  margin-bottom: 16px;
}