
.footer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  max-width: 50%;
}

.footer-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}